<h1>What kind of triangle do you have?</h1>

<form action="/output">
  <div class="form-group">
    <label for="side1">Side 1</label>
    <input type="number" name="side1">

    <label for="side2">Side 2</label>
    <input type="number" name="side2">

    <label for="side3">Side 3</label>
    <input type="number" name="side3">
  </div>
  <button type="submit" class="btn">Triangle!</button>
</form>
